.home_page{
    margin: 0 auto;
    background: white;
}

/*カルーセル*/
.image_slider, .swiper{
    padding-top: 93px;
    display: flex;
    justify-content: center; /*水平中央*/
    align-items: center; /*垂直中央*/
    width:100%;
    height:35em;
    overflow: hidden; /*要素が枠を超えたとき非表示にする*/
    /*background: #006F8A;*/
    background-color: none;
}

.image_slider{
    position: relative;
    z-index: 0;
}

.image_slider:before{
    content: "";
    background-image: var(--background-image);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(20px);
    z-index: -1;
    transform: scale(1.1) !important;
    overflow: hidden; /*要素が枠を超えたとき非表示にする*/

}

.slider_item_container{
    height: 70%; 
    display: flex;
    justify-content: center; /*水平中央*/
    align-items: center ; /*垂直中央*/
    white-space: nowrap; /*要素が親要素の幅を超えた場合でも改行されない*/
    margin: auto; /*この要素を水平方向に中央揃え*/
    overflow: visible !important;
}

.swiper-wrapper{
    display: flex;
    align-items: center; /* 垂直方向に中央揃え */
    overflow: visible !important;
}

.swiper-slide{
    display: flex !important;
    align-items: center !important; /* 垂直方向に中央揃え */
    justify-content: center !important; /*水平中央*/
    transition: .1s;
}

.slider_item{
    max-height: 55%;
    max-width: 55%; 
    transition: transform 1s ease; /*easeは最初はゆっくり、途中で早く、最後はまたゆっくりな動き*/
    object-fit: contain; /* 画像の縦横比を保ちながら、中央に収める */
    box-shadow: 0.2em 0.2em 0.2em rgba(0, 0, 0, 0.4);
}

.swiper-slide-next{
    transform: scale(1.6) !important;
    transition: .8s;
}

.swiper-slide-next img{
    transition: .8s;
    box-shadow: 0.2em 0.3em 0.3em rgba(0, 0, 0, 0.4);
}

/*ボタン*/

.swiper-button-prev{
    margin-left: 25%;
}

.swiper-button-next{
    margin-right: 25%;
}

.swiper-button-prev, .swiper-button-next {
    width: 50px !important;
    height: 50px !important;
    background-color: transparent; /* ボタンの背景色 */
}

.swiper-button-prev::after, .swiper-button-next::after {
    font-size: 30px !important; /* 矢印のサイズを小さくする */
    font-weight: bold; /* 矢印の太さを調整 */
}

.swiper-button-prev::after{
    transform: translate(30px, 0px); /*見かけ上の位置を変更*/
}

.swiper-button-next::after{
    transform: translate(-30px, 0px); /*見かけ上の位置を変更*/
}

:root {
    --swiper-theme-color: white !important;
}

/*プロフィール欄*/

.profile{
    margin: auto; /*この要素を水平方向に中央揃え*/
    margin-top: 17em;
    margin-bottom: 4em;
    width: 70%;
    height: 33em;
    border-radius: 0.5em;
    background-color: white;
    border: 2.0px solid black; 
}

.profile_content{
    margin: auto; /*この要素を水平方向に中央揃え*/
    margin: 3em;
    display: flex;
}

.profile_icon img{
    margin-top: 0.8em;
    width: 15em;
    height: 15em;
    object-fit: cover; /*画像の縦横比率変わったとき、縮めるんじゃなくて切り取る*/
    border-radius: 50%;
    border: 1.2px solid #cdcdcd; 
}

.profile_text{
    margin-left: 3.5em;
    letter-spacing: 8%;
}

.profile_text h1{
    font-size: 29px;
    margin-top: 0.4em;
}

.profile_text h1 span, .profile_text p, .profile_text h2{
    font-size: 19px;
}

.sns_icons{
    margin-top: -0.5em;
    padding-left: 3em;
    display: flex;
    gap: 2em; /*要素間のスペース*/
}

.icons{
    display: flex;
    justify-content: center; /*水平中央*/
    align-items: center; /*垂直中央*/
    width: 60px;
    height: 60px;
    border: 2.3px solid black;
    border-radius: 50%;
    transition: .2s;
}

.icons img{
    transition: .2s;
}

.x_icon{
    width: 42px;
    height: 40px; 
}

.insta_icon{
    width: 50px;
    height: 50px; 
}

.icons:hover{
    background-color: black;
    transition: .2s;
}

.icons:hover img{
    filter: invert(100%); /*画像の色を反転*/
    transition: .2s;
}