.home_page{
    margin: 0 auto;
    background: white;
    padding-top: 93px;
}

/*カルーセル*/
.image_slider{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:30em;
    overflow: hidden; /*要素が枠を超えたとき非表示にする*/
    background:gray;
}

.slider_item_container{
    height: 70%; 
    display: flex;
    justify-content: center; /*水平中央*/
    align-items: center; /*垂直中央*/
    white-space: nowrap; /*要素が親要素の幅を超えた場合でも改行されない*/
    margin: auto; /*この要素を水平方向に中央揃え*/
    overflow: hidden; /*要素が枠を超えたとき非表示にする*/
    background: rgb(255, 0, 119);
}

.slider_item{
    font-size: 600px;
    display: inline; /*隣接する要素と横並びに*/
    transition: transform 1s ease; /*easeは最初はゆっくり、途中で早く、最後はまたゆっくりな動き*/
}

.item_1{
    transform: translate3d(-40%, 0, 0);
}

.item_2{
    transform: translate3d(-20%, 0, 0);
}

.item_3{
    transform: translate3d(-0 , 0, 0);
}

.item_4{
    transform: translate3d(20% , 0, 0);
}

.item_5{
    transform: translate3d(40% , 0, 0);
}

.slide_button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: black;
    color: white;
    font-size: 16px;
    text-align:center; /*テキストの横方向の中央ぞろえ*/
    line-height:50px; /*テキストの縦方向の中央ぞろえ*/
    cursor: pointer; /*ホバー時にポインターを表示*/
    outline: none; /*フォーカス時の枠線を消す*/
}